[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=kolor-management
X-KDE-System-Settings-Parent-Category=computer-administration
Icon=preferences-desktop-color

Name=Kolor Management
Name[el]=Διαχείριση χρωμάτων Kolor
Name[fr]=Gestionnaire de couleurs
Name[pt]=Gestão de Cores
Name[pt_BR]=Gestão de Cores
Name[sv]=Färghantering
Name[uk]=Керування Kolor
X-SuSE-translate=true
