[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=kolor-management
X-KDE-System-Settings-Parent-Category=computer-administration
Icon=oyranos_logo

Name=Kolor Management
Name[de]=Farbverwaltung
Name[el]=Διαχείριση χρωμάτων Kolor
Name[en_GB]=Kolour Management
Name[es]=Gestor de Kolor
Name[et]=Kolori haldus
Name[fr]=Gestion de Kolor
Name[gl]=Xestor da cor
Name[hne]=कलर प्रबंधन
Name[it]=Gestore Kolor
Name[km]=ការ​គ្រប់គ្រង Kolor
Name[nds]=Kolor
Name[nl]=Kolor Management
Name[pa]=ਕਲਰ ਪਰਬੰਧ
Name[pt]=Gestão de Cores
Name[pt_BR]=Gerenciamento de Cores
Name[sv]=Färghantering
Name[tr]=Renk Yönetimi
Name[uk]=Керування Kolor
Name[x-test]=xxKolor Managementxx
X-SuSE-translate=true
