[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=kolor-management
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=oyranos_logo

Name=Kolor Management
X-SuSE-translate=true
