[Desktop Entry]
Type=Service
X-KDE-ServiceType=KDEDModule
X-KDE-Library=kolorserver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=Color Management Server
Name[ca]=Servidor per a la gestió del color
Name[ca@valencia]=Servidor per a la gestió del color
Name[cs]=Server pro správu barev
Name[da]=Server til farvehåndtering
Name[de]=Farbverwaltungs-Server
Name[el]=Εξυπηρετητής διαχείρισης χρώματος
Name[es]=Servidor de gestión de colores
Name[et]=Värvihalduse server
Name[fi]=Värinhallintapalvelin
Name[fr]=Serveur de gestion de la couleur
Name[gl]=Servidor de xestión de cor
Name[hu]=Színkezelés kiszolgáló
Name[is]=Litastýringamiðlari
Name[it]=Server di gestione dei colori
Name[lt]=Spalvų valdymo serveris
Name[mr]=रंग व्यवस्थापन सर्व्हर
Name[nb]=Fargestyringstjener
Name[nl]=Server voor kleurbeheer
Name[pl]=Serwer zarządzanie kolorem
Name[pt]=Servidor de Gestão de Cores
Name[pt_BR]=Servidor do gerenciamento de cores
Name[ro]=Server de gestiune a culorilor
Name[ru]=Сервер управления цветом
Name[sk]=Server správy farieb
Name[sl]=Strežnik za upravljanje barv
Name[sv]=Färghanteringsserver
Name[tr]=Renk Yönetimi Sunucusu
Name[uk]=Сервер керування кольорами
Name[x-test]=xxColor Management Serverxx
Name[zh_TW]=顏色管理伺服器
Comment=Allows applications to communicate with the color management system and implements the X Color Management specification
Comment[ca]=Permet a les aplicacions comunicar-se amb el sistema per a la gestió del color i implementa l'especificació per a la gestió del color de X
Comment[ca@valencia]=Permet a les aplicacions comunicar-se amb el sistema per a la gestió del color i implementa l'especificació per a la gestió del color de X
Comment[da]=Lader programmer kommunikere med farvehåndteringssystemet og implementerer X farvehåndteringsspecifikationen
Comment[de]=Ermöglicht Anwendungen die Kommunikation mit dem Farbverwaltungssystem und implementiert die „X Color Management“-Spezifikation.
Comment[el]=Επιτρέπει σε εφαρμογές να επικοινωνούν με το σύστημα διαχείρισης χρώματος και εφαρμόζει την προδιαγραφή διαχείρισης χρώματος Χ
Comment[es]=Permite a las aplicaciones comunicarse con el sistema de gestión de color e implementa la especificación de gestión de colores de X
Comment[et]=Võimaldab rakendustel suhelda värvihalduse süsteemiga ja teostab X'i värvihalduse spetsifikatsiooni
Comment[fi]=Mahdollistaa sovellusten viestiä värinhallintajärjestelmän kanssa ja toteuttaa X-värinhallintamäärittelyn
Comment[fr]=Permet aux applications de communiquer avec le système de gestion de la couleur et implémente les spécifications de gestion de la couleur X
Comment[gl]=Permite aos aplicativos comunicarse co sistema de xestión de cor e cumpre coa especificación X Color Management.
Comment[hu]=Lehetővé teszi az alkalmazások számára, hogy kommunikáljanak a színkezelő rendszerrel és megvalósítja az X színkezelő specifikációt
Comment[it]=Permette alle applicazioni di comunicare con il sistema di gestione dei colori e implementa la specifica di gestione dei colori di X.
Comment[nb]=Lar programmer kommunisere med fargestyringssystemet og implementerer X sin fargestyringsspesifikasjon
Comment[nl]=Stelt toepassingen in staat te communiceren met het kleurbeheersysteem en implementeert de X Color Management-specificatie
Comment[pl]=Pozwala programom na porozumiewanie się z systemem zarządzania kolorami i implementuje specyfikacje Zarządzania Kolorem X
Comment[pt]=Permite às aplicações comunicarem com o sistema de gestão de cores e implementa a especificação da Gestão de Cores do X
Comment[pt_BR]=Permite que os aplicativo se comuniquem com o sistema de gerenciamento de cores e implementa a especificação do gerenciamento de cores do X
Comment[ro]=Permite aplicațiilor să comunice cu sistemul de gestiune a culorilor și implementează specificația X de gestiune a culorilor
Comment[ru]=Позволяет приложениям обмениваться данными с системой управления цветом и реализует спецификацию X Color Management
Comment[sk]=Povolí aplikáciám komunikovať so systémom správy farieb a implementuje špecifikáciu X Color Management
Comment[sl]=Dovoljuje, da programi dostopajo do sistema za upravljanje barv in vgradi določilo X Color Management
Comment[sv]=Tillåter program att kommunicera med färghanteringssystemet och implementerar X-färghanteringsspecifikationen.
Comment[tr]=Uygulamalara renk yönetim sistemiyle iletişim kurmalarına izin verir ve X Renk Yönetim niteliğini uygular
Comment[uk]=Дозволяє програмам обмінюватися даними з системою керування кольорами і реалізує специфікацію керування кольорами графічного сервера X
Comment[x-test]=xxAllows applications to communicate with the color management system and implements the X Color Management specificationxx
Comment[zh_TW]=允許應用程式與顏色管理系統聯繫，並實作 X 顏色管理規格
