[Desktop Entry]
Exec=kcmshell5 kcm_kmsettings
Icon=configure
Type=Service
X-DocPath=kcontrol/kcm_kmsettings/index.html

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kmsettings
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=kolor-management
X-KDE-Weight=110

Name=Color Management Settings
Name[ca]=Arranjament de la gestió del color
Name[ca@valencia]=Arranjament de la gestió del color
Name[cs]=Nastavení správy barev
Name[de]=Einstellungen zur Farbverwaltung
Name[el]=Ρυθμίσεις διαχείρισης χρώματος
Name[en_GB]=Colour Management Settings
Name[es]=Preferencias de la gestión de color
Name[eu]=Kolore kudeaketa ezarpenak
Name[fi]=Värinhallinnan asetukset
Name[fr]=Paramètres de gestion des couleurs
Name[gl]=Configuración da xestión da cor
Name[is]=Stillingar litastýringar
Name[it]=Impostazioni della gestione dei colori
Name[ko]=색 관리 설정
Name[nl]=Kleurbeheerinstellingen
Name[nn]=Innstillingar for fargehandsaming
Name[pl]=Ustawienia zarządzania kolorem
Name[pt]=Configuração da Gestão de Cores
Name[pt_BR]=Configurações do gerenciamento de cores
Name[sl]=Nastavitve upravljanja barv
Name[sv]=Färghanteringsinställningar
Name[tr]=Renk Yönetimi Ayarları
Name[uk]=Параметри керування кольорами
Name[x-test]=xxColor Management Settingsxx
Name[zh_CN]=色彩管理设置
Name[zh_TW]=顏色管理設定
Comment=Color Management Settings
Comment[bs]=Postavke upravljanja bojama
Comment[ca]=Arranjament de la gestió del color
Comment[ca@valencia]=Arranjament de la gestió del color
Comment[cs]=Nastavení správy barev
Comment[da]=Indstillinger for farvehåndtering
Comment[de]=Einstellungen zur Farbverwaltung
Comment[el]=Ρυθμίσεις διαχείρισης χρώματος
Comment[en_GB]=Colour Management Settings
Comment[es]=Preferencias de la gestión de color
Comment[et]=Värvihalduse seadistused
Comment[eu]=Kolore kudeaketa ezarpenak
Comment[fi]=Värinhallinnan asetukset
Comment[fr]=Paramètres de gestion des couleurs
Comment[gl]=Configuración da xestión da cor
Comment[hu]=A Színkezelés beállításai
Comment[is]=Stillingar litastýringar
Comment[it]=Impostazioni della gestione dei colori
Comment[km]=កំណត់​ការ​គ្រប់គ្រង​ពណ៌
Comment[ko]=색 관리 설정
Comment[lt]=Spalvų valdymo nuostatos
Comment[mr]=रंग व्यवस्थापन संयोजना
Comment[nb]=Fargestyringsinnstillinger
Comment[nds]=Klöörpleeg instellen
Comment[nl]=Kleurbeheerinstellingen
Comment[nn]=Innstillingar for fargehandsaming
Comment[pl]=Ustawienia zarządzania kolorem
Comment[pt]=Configuração da Gestão de Cores
Comment[pt_BR]=Configurações do gerenciamento de cores
Comment[ro]=Configurări de gestiune a culorilor
Comment[ru]=Параметры управления цветом
Comment[sk]=Nastavenia správy farieb
Comment[sl]=Nastavitve upravljanja barv
Comment[sv]=Färghanteringsinställningar
Comment[tr]=Renk Yönetimi Ayarları
Comment[uk]=Параметри керування кольорами
Comment[x-test]=xxColor Management Settingsxx
Comment[zh_CN]=色彩管理设置
Comment[zh_TW]=顏色管理設定
X-KDE-Keywords=Color Management Settings
X-KDE-Keywords[ca]=Arranjament de la gestió del color
X-KDE-Keywords[ca@valencia]=Arranjament de la gestió del color
X-KDE-Keywords[cs]=Nastavení správy barev
X-KDE-Keywords[de]=Einstellungen zur Farbverwaltung
X-KDE-Keywords[el]=Ρυθμίσεις διαχείρισης χρώματος
X-KDE-Keywords[en_GB]=Colour Management Settings
X-KDE-Keywords[es]=Preferencias de la gestión de color
X-KDE-Keywords[eu]=Kolore kudeaketa ezarpenak
X-KDE-Keywords[fi]=Värinhallinnan asetukset
X-KDE-Keywords[fr]=Paramètres de gestion des couleurs
X-KDE-Keywords[gl]=Configuración da xestión da cor
X-KDE-Keywords[is]=Stillingar litastýringar
X-KDE-Keywords[it]=Impostazioni della gestione dei colori
X-KDE-Keywords[ko]=색 관리 설정
X-KDE-Keywords[nl]=Kleurbeheerinstellingen
X-KDE-Keywords[nn]=Innstillingar for fargehandsaming
X-KDE-Keywords[pl]=Ustawienia zarządzania kolorem
X-KDE-Keywords[pt]=Configuração da Gestão de Cores
X-KDE-Keywords[pt_BR]=Configurações do gerenciamento de cores
X-KDE-Keywords[sl]=Nastavitve upravljanja barv
X-KDE-Keywords[sv]=Färghanteringsinställningar
X-KDE-Keywords[tr]=Renk Yönetimi Ayarları
X-KDE-Keywords[uk]=Параметри керування кольорами
X-KDE-Keywords[x-test]=xxColor Management Settingsxx
X-KDE-Keywords[zh_CN]=色彩管理设置
X-KDE-Keywords[zh_TW]=顏色管理設定
