[Desktop Entry]
Name=Settings
Name[ca]=Arranjament
Name[cs]=Nastavení
Name[da]=Indstillinger
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[es]=Preferencias
Name[et]=Seadistused
Name[ga]=Socruithe
Name[is]=Stillingar
Name[it]=Impostazioni
Name[nds]=Instellen
Name[nl]=Instellingen
Name[pl]=Ustawienia
Name[pt]=Configuração
Name[pt_BR]=Configurações
Name[sk]=Nastavenia
Name[sv]=Inställningar
Name[uk]=Параметри
Name[x-test]=xxSettingsxx
Comment=Color Management Settings
Comment[ca]=Arranjament de la gestió del color
Comment[cs]=Nastavení správy barev
Comment[da]=Indstillinger for farvehåndtering
Comment[de]=Einstellungen zur Farbverwaltung
Comment[el]=Ρυθμίσεις διαχείρισης χρώματος
Comment[es]=Preferencias de la gestión de color
Comment[et]=Värvihalduse seadistused
Comment[is]=Stillingar litastýringar
Comment[it]=Impostazioni della gestione dei colori
Comment[nl]=Kleurbeheerinstellingen
Comment[pl]=Ustawienia zarządzania kolorem
Comment[pt]=Configuração da Gestão de Cores
Comment[pt_BR]=Configurações do gerenciamento de cores
Comment[sv]=Färghanteringsinställningar
Comment[uk]=Параметри керування кольорами
Comment[x-test]=xxColor Management Settingsxx
Exec=kmsettings
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-FactoryName=kmsettingsFactory
X-KDE-Library=kmsettings
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=kolor-management
