[Desktop Entry]
Name=Settings
Name[bs]=Postavke
Name[ca]=Arranjament
Name[ca@valencia]=Arranjament
Name[cs]=Nastavení
Name[da]=Indstillinger
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[en_GB]=Settings
Name[es]=Preferencias
Name[fi]=Asetukset
Name[fr]=Configuration
Name[ga]=Socruithe
Name[gl]=Configuración
Name[hu]=Beállítások
Name[is]=Stillingar
Name[it]=Impostazioni
Name[km]=ការ​កំណត់
Name[ko]=설정
Name[lt]=Nustatymai
Name[mr]=संयोजना
Name[nb]=Innstillinger
Name[nds]=Instellen
Name[nl]=Instellingen
Name[pl]=Ustawienia
Name[pt]=Configuração
Name[pt_BR]=Configurações
Name[ro]=Configurări
Name[ru]=Параметры
Name[sk]=Nastavenia
Name[sl]=Nastavitve
Name[sv]=Inställningar
Name[tr]=Ayarlar
Name[ug]=تەڭشەكلەر
Name[uk]=Параметри
Name[x-test]=xxSettingsxx
Name[zh_CN]=设置
Name[zh_TW]=設定
Comment=Color Management Settings
Comment[bs]=Postavke upravljanja bojama
Comment[ca]=Arranjament de la gestió del color
Comment[ca@valencia]=Arranjament de la gestió del color
Comment[cs]=Nastavení správy barev
Comment[da]=Indstillinger for farvehåndtering
Comment[de]=Einstellungen zur Farbverwaltung
Comment[el]=Ρυθμίσεις διαχείρισης χρώματος
Comment[en_GB]=Colour Management Settings
Comment[es]=Preferencias de la gestión de color
Comment[fi]=Värinhallinnan asetukset
Comment[fr]=Paramètres de la gestion des couleurs
Comment[gl]=Configuración da xestión da cor
Comment[hu]=A Színkezelés beállításai
Comment[is]=Stillingar litastýringar
Comment[it]=Impostazioni della gestione dei colori
Comment[km]=កំណត់​ការ​គ្រប់គ្រង​ពណ៌
Comment[ko]=색 관리 설정
Comment[lt]=Spalvų valdymo nustatymai
Comment[mr]=रंग व्यवस्थापन संयोजना
Comment[nb]=Fargestyringsinnstillinger
Comment[nds]=Klöörpleeg instellen
Comment[nl]=Kleurbeheerinstellingen
Comment[pl]=Ustawienia zarządzania kolorem
Comment[pt]=Configuração da Gestão de Cores
Comment[pt_BR]=Configurações do gerenciamento de cores
Comment[ro]=Configurări de gestiune a culorilor
Comment[ru]=Параметры управления цветом
Comment[sk]=Nastavenia správy farieb
Comment[sl]=Nastavitve upravljanja barv
Comment[sv]=Färghanteringsinställningar
Comment[tr]=Renk Yönetimi Ayarları
Comment[uk]=Параметри керування кольорами
Comment[x-test]=xxColor Management Settingsxx
Comment[zh_CN]=色彩管理设置
Comment[zh_TW]=顏色管理設定
Exec=kmsettings
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-FactoryName=kmsettingsFactory
X-KDE-Library=kmsettings
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=kolor-management
