[Desktop Entry]
Name=Settings
Comment=Color Management Settings
Exec=kmsettings
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-FactoryName=kmsettingsFactory
X-KDE-Library=kmsettings
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=kolor-management
