[Desktop Entry]
Name=Device settings for Color Management
Name[ca]=Ajustaments del dispositiu per a la gestió del color
Name[ca@valencia]=Ajustaments del dispositiu per a la gestió del color
Name[cs]=Nastavení zařízení pro správu barev
Name[de]=Geräte-Einstellungen für Farbverwaltung
Name[el]=Ρυθμίσεις συσκευών για διαχείριση χρώματος
Name[en_GB]=Device settings for Colour Management
Name[es]=Preferencias del dispositivo para la gestión de color
Name[eu]=Gailuaren ezarpenak kolore kudeaketarako
Name[fi]=Värinhallinnan laiteasetukset
Name[fr]=Paramètres des périphériques pour la gestion des couleurs
Name[gl]=Configuración de dispositivos para a xestión da cor
Name[is]=Stillingar tækja fyrir litastýringu
Name[it]=Impostazioni dei dispositivi per la gestione dei colori
Name[nl]=Apparaatinstellingen voor kleurbeheer
Name[nn]=Einingsinnstillingar for fargehandsaming
Name[pl]=Ustawienia urządzenia dla zarządzania kolorem
Name[pt]=Configuração do dispositivo de Gestão de Cores
Name[pt_BR]=Configurações do dispositivo de gerenciamento de cores
Name[sl]=Nastavitve naprav za upravljanje barv
Name[sv]=Enhetsinställningar för färghantering
Name[tr]=Renk Yönetimi için Aygıt Ayarları
Name[uk]=Параметри пристроїв для керування кольорами
Name[x-test]=xxDevice settings for Color Managementxx
Name[zh_CN]=色彩管理设备设置
Name[zh_TW]=顏色管理的裝置設定
Comment=Device settings for Color Management
Comment[bs]=Postavke uređaja za upravljanje bojama
Comment[ca]=Ajustaments del dispositiu per a la gestió del color
Comment[ca@valencia]=Ajustaments del dispositiu per a la gestió del color
Comment[cs]=Nastavení zařízení pro správu barev
Comment[da]=Enhedsindstillinger for farvehåndtering
Comment[de]=Geräte-Einstellungen für Farbverwaltung
Comment[el]=Ρυθμίσεις συσκευών για διαχείριση χρώματος
Comment[en_GB]=Device settings for Colour Management
Comment[es]=Preferencias del dispositivo para la gestión de color
Comment[et]=Värvihalduse seadmete seadistused
Comment[eu]=Gailuaren ezarpenak kolore kudeaketarako
Comment[fi]=Värinhallinnan laiteasetukset
Comment[fr]=Paramètres des périphériques pour la gestion des couleurs
Comment[gl]=Configuración de dispositivos para a xestión da cor
Comment[hu]=A Színkezelés eszközbeállításai
Comment[is]=Stillingar tækja fyrir litastýringu
Comment[it]=Impostazioni dei dispositivi per la gestione dei colori
Comment[km]=ការ​កំណត់​ឧបករណ៍​សម្រាប់​ការ​គ្រប់គ្រង​ពណ៌
Comment[ko]=색 관리용 장치 설정
Comment[lt]=Įrenginio nustatymai spalvų valdymui
Comment[mr]=रंग व्यवस्थापना करिता साधन संयोजना
Comment[nb]=Enhetsinnstillinger for fargestyring
Comment[nds]=Reedschappen för de Klöörpleeg instellen
Comment[nl]=Apparaatinstellingen voor kleurbeheer
Comment[nn]=Einingsinnstillingar for fargehandsaming
Comment[pl]=Ustawienia urządzenia dla zarządzania kolorem
Comment[pt]=Configuração do dispositivo de Gestão de Cores
Comment[pt_BR]=Configurações do dispositivo de gerenciamento de cores
Comment[ro]=Configurări de dispozitive pentru gestiunea culorilor
Comment[ru]=Параметры устройств для управления цветом
Comment[sk]=Nastavenie zariadenia pre správu farieb
Comment[sl]=Nastavitve naprav za upravljanje barv
Comment[sv]=Enhetsinställningar för färghantering
Comment[tr]=Renk Yönetimi için Aygıt Ayarları
Comment[uk]=Параметри пристроїв для керування кольорами
Comment[x-test]=xxDevice settings for Color Managementxx
Comment[zh_CN]=色彩管理设备设置
Comment[zh_TW]=顏色管理的裝置設定
Exec=kcm_kmdevices
Icon=preferences-desktop-display
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-FactoryName=kmdevicesFactory
X-KDE-Library=kcm_kmdevices
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=kolor-management
