[Desktop Entry]
Name=Devices
Name[cs]=Zařízení
Name[el]=Συσκευές
Name[es]=Dispositivos
Name[et]=Seadmed
Name[fr]=Périphériques
Name[ga]=Gléasanna
Name[gl]=Dispositivos
Name[km]=ឧបករណ៍
Name[nds]=Reedschappen
Name[nl]=Apparaten
Name[pa]=ਜੰਤਰ
Name[pt]=Dispositivos
Name[pt_BR]=Dispositivos
Name[sv]=Enheter
Name[tr]=Aygıtlar
Name[uk]=Пристрої
Name[x-test]=xxDevicesxx
Comment= Device settings for Kolor Management
Comment[el]=Ρυθμίσεις συσκευής για τη διαχείριση χρωμάτων
Comment[es]=Preferencias de los dispositivos para el gestor de Kolor
Comment[et]= Kolori haldamise seadmete seadistused
Comment[fr]=Configuration des périphériques pour le gestionnaire de couleurs
Comment[gl]=Configura os dispositivos para o Xestor de cor
Comment[km]= ការ​កំណត់​ឧបករណ៍​សម្រាប់​ការ​គ្រប់គ្រង Kolor
Comment[nds]=Reedschapinstellen för Kolor
Comment[nl]= Apparaatinstellingen voor Kolor Management
Comment[pa]= ਕਲਰ ਮੈਨੇਜਮੈਂਟ ਲਈ ਜੰਤਰ ਸੈਟਿੰਗ
Comment[pt]= Configuração do Dispositivo de Gestão de Cores
Comment[pt_BR]= Configuração do Dispositivo de Gestão de Cores
Comment[sv]= Enhetsinställningar för färghantering
Comment[tr]=Renk Yönetimi için aygıt ayarları
Comment[uk]=Параметри пристрою для керування Kolor
Comment[x-test]=xx Device settings for Kolor Managementxx
Exec=kcprofiler
Icon=preferences-desktop-display
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-FactoryName=kmdevicesFactory
X-KDE-Library=kmdevices
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=kolor-management
