[Desktop Entry]
Name=Devices
Name[cs]=Zařízení
Name[es]=Dispositivos
Name[nds]=Reedschappen
Name[nl]=Apparaten
Name[pt]=Dispositivos
Name[pt_BR]=Dispositivos
Name[sv]=Enheter
Name[uk]=Пристрої
Name[x-test]=xxDevicesxx
Comment=Device settings for Color Management
Comment[es]=Preferencias del dispositivo para la gestión de color
Comment[nl]=Apparaatinstellingen voor kleurbeheer
Comment[pt]=Configuração do dispositivo de Gestão de Cores
Comment[pt_BR]=Configurações do dispositivo de Gerenciamento de Cores
Comment[sv]=Enhetsinställningar för färghantering
Comment[uk]=Параметри пристрою для керування кольорами
Comment[x-test]=xxDevice settings for Color Managementxx
Exec=kcprofiler
Icon=preferences-desktop-display
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-FactoryName=kmdevicesFactory
X-KDE-Library=kmdevices
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=kolor-management
