[Desktop Entry]
Name=ICC Profile Information
Name[ar]=معلومات تشكيلة ICC
Name[az]=İCC Profili Məlumatları
Name[ca]=Informació del perfil ICC
Name[ca@valencia]=Informació del perfil ICC
Name[cs]=Informace o profilu ICC
Name[da]=ICC-profilinformation
Name[de]=ICC-Profilinformation
Name[el]=Πληροφορίες προφίλ ICC
Name[en_GB]=ICC Profile Information
Name[eo]=ICC Profila Informo
Name[es]=Información del perfil ICC
Name[et]=ICC profiili teave
Name[eu]=ICC profilaren informazioa
Name[fi]=ICC-profiilitiedot
Name[fr]=Informations de profil ICC
Name[gl]=Información do perfil ICC
Name[he]=פרטי פרופיל ICC
Name[is]=ICC-litasniðsupplýsingar
Name[it]=Informazioni sui profili ICC
Name[ka]=ICC პროფილის ინფორმაცია
Name[ko]=ICC 프로필 정보
Name[nl]=ICC-profielinformatie
Name[nn]=ICC-profilinformasjon
Name[pl]=Informacje o profilu ICC
Name[pt]=Informação do Perfil ICC
Name[pt_BR]=Informação do perfil ICC
Name[ro]=Informații despre profil ICC
Name[ru]=Сведения о профиле ICC
Name[sk]=Informácie o profile ICC
Name[sl]=Podrobnosti o profilu ICC
Name[sv]=ICC-profilinformation
Name[tr]=ICC Profil Bilgisi
Name[uk]=Дані щодо профілю ICC
Name[x-test]=xxICC Profile Informationxx
Name[zh_CN]=ICC 色彩特性文件信息
Name[zh_TW]=ICC 設定檔資訊
Comment=Display ICC-specific Profile Information
Comment[ar]=اعرض معلومات التشكيلة الخاصة بـICC
Comment[az]=İCC xüsusi Profili Məlumatlarını Göstərmək
Comment[bs]=Prikaži ICC-specifične informacije profila
Comment[ca]=Mostra la informació del perfil específica de l'ICC
Comment[ca@valencia]=Mostra la informació del perfil específica d'ICC
Comment[cs]=Zobrazit informace o profilu specifické pro ICC
Comment[da]=Vis ICC-specifik profilinformation
Comment[de]=Anzeige ICC-spezifischer Profil-Informationen
Comment[el]=Εμφάνιση ειδικά για ICC πληροφοριών προφίλ
Comment[en_GB]=Display ICC-specific Profile Information
Comment[eo]=Montru ICC-specifajn Profilinformojn
Comment[es]=Mostrar información de perfil específico de ICC
Comment[et]= ICC profiiliga seotud teave
Comment[eu]=Azaldu ICC profilaren berariazko informazioa
Comment[fi]=Näytä ICC-profiilitiedot
Comment[fr]=Affiche les informations spécifiques à « ICC » pour les profils
Comment[gl]=Amosar información de perfil específica de ICC
Comment[he]=הצגת פרטי פרופיל לפי ICC
Comment[hu]=ICC-specifikus profiladatok megjelenítése
Comment[is]=Birta sértækar ICC-upplýsingar litasniðs
Comment[it]=Mostra informazioni sui profili specifici ICC
Comment[ka]=ICC პროფილის ინფორმაციის გამოტანა
Comment[km]=បង្ហាញ​ព័ត៌មាន​​ទម្រង់​ ICC ជាក់លាក់
Comment[ko]=ICC별 프로필 정보 표시
Comment[lt]=Rodyti specifinę ICC Profilio informaciją
Comment[nb]=Vis ICC-spesifikk profilinformasjon
Comment[nds]=ICC-afhangen Profil-Informatschonen wiesen
Comment[nl]=Toon ICC-specifieke profielinformatie
Comment[nn]=Vis ICC-spesifikk profilinformasjon
Comment[pl]=Wyświetl charakterystyczne informacje o profilu ICC
Comment[pt]=Mostrar a informação específica do perfil de ICC
Comment[pt_BR]=Mostrar a informação específica do perfil de ICC
Comment[ro]=Afișează informații despre profil specifice ICC
Comment[ru]=Показать сведения ICC-профиля
Comment[sk]=Zobraziť ICC informácie o profile
Comment[sl]=Prikaži podrobnosti o profilu povezane z ICC
Comment[sv]=Visa ICC-specifik profilinformation
Comment[tr]=ICC'ye özel Profil Bilgisini Göster
Comment[uk]=Показати специфічні для ICC дані щодо профілю
Comment[x-test]=xxDisplay ICC-specific Profile Informationxx
Comment[zh_CN]=显示 ICC 色彩特性文件信息
Comment[zh_TW]=顯示 ICC 相關設定檔資訊
Exec=kcm_kminfo
Icon=help-about
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-FactoryName=kminfoFactory
X-KDE-Library=kcm_kminfo
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=kolor-management
