[Desktop Entry]
Name=ICC Profile Information
Name[bs]=Podaci o profilu
Name[ca]=Informació del perfil
Name[ca@valencia]=Informació del perfil
Name[cs]=Informace o profilu
Name[da]=Profilinformation
Name[de]=Farbprofilinformation
Name[el]=Πληροφορίες προφίλ
Name[en_GB]=Profile Information
Name[es]=Información del perfil
Name[et]=Profiili teave
Name[fi]=Profiilitiedot
Name[fr]=Informations sur les profils
Name[gl]=Información do perfil
Name[hu]=Profiladatok
Name[is]=Litasniðsupplýsingar
Name[it]=Informazioni sui profili
Name[km]=ព័ត៌មាន​​ទម្រង់
Name[ko]=프로필 정보
Name[lt]=Profilio informacija
Name[mr]=रूपरेषा माहिती
Name[nb]=Profilinformasjon
Name[nds]=Profil-Informatschonen
Name[nl]=Profielinformatie
Name[nn]=Profilinformasjon
Name[pl]=Informacje o profilu
Name[pt]=Informação do Perfil
Name[pt_BR]=Informação do perfil
Name[ro]=Informații despre profil
Name[ru]=Сведения о профиле
Name[sk]=Informácie o profile
Name[sl]=Podrobnosti o profilu
Name[sv]=Profilinformation
Name[tr]=Profil Bilgileri
Name[uk]=Дані щодо профілю
Name[x-test]=xxProfile Informationxx
Name[zh_CN]=配置信息
Name[zh_TW]=設定檔資訊
Comment=Display ICC-specific Profile Information
Comment[bs]=Prikaži ICC-specifične informacije profila
Comment[ca]=Mostra la informació del perfil específica d'ICC
Comment[ca@valencia]=Mostra la informació del perfil específica d'ICC
Comment[da]=Vis ICC-specifik profilinformation
Comment[de]=Anzeige von ICCprofilinformationen
Comment[el]=Εμφάνιση ειδικά για ICC πληροφοριών προφίλ
Comment[en_GB]=Display ICC-specific Profile Information
Comment[es]=Mostrar información de perfil específico de ICC
Comment[et]= ICC profiiliga seotud teave
Comment[fi]=Näytä ICC-profiilitiedot
Comment[fr]=Affiche les informations spécifiques à « ICC » pour les profils
Comment[gl]=Mostrar información de perfil específica de ICC
Comment[hu]=ICC-specifikus profiladatok megjelenítése
Comment[is]=Birta sértækar ICC-upplýsingar litasniðs
Comment[it]=Mostra informazioni sui profili specifici ICC
Comment[km]=បង្ហាញ​ព័ត៌មាន​​ទម្រង់​ ICC ជាក់លាក់
Comment[ko]=ICC별 프로필 정보 표시
Comment[lt]=Rodyti specifinę ICC Profilio informaciją
Comment[nb]=Vis ICC-spesifikk profilinformasjon
Comment[nds]=ICC-afhangen Profil-Informatschonen wiesen
Comment[nl]=Toon ICC-specifieke profielinformatie
Comment[nn]=Viss ICC-spesifikk profilinformasjon
Comment[pl]=Wyświetl charakterystyczne informacje o profilu ICC
Comment[pt]=Mostrar a informação específica do perfil de ICC
Comment[pt_BR]=Mostrar a informação específica do perfil de ICC
Comment[ro]=Afișează informații despre profil specifice ICC
Comment[ru]=Показать сведения ICC-профиля
Comment[sk]=Zobraziť ICC informácie o profile
Comment[sl]=Prikaži podrobnosti o profilu povezane z ICC
Comment[sv]=Visa ICC-specifik profilinformation
Comment[tr]=ICC'ye özel Profil Bilgilerini Göster
Comment[uk]=Показати специфічні для ICC дані щодо профілю
Comment[x-test]=xxDisplay ICC-specific Profile Informationxx
Comment[zh_CN]=显示 ICC 色彩配置信息
Comment[zh_TW]=顯示 ICC 相關設定檔資訊
Exec=kcm_kminfo
Icon=help-about
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-FactoryName=kminfoFactory
X-KDE-Library=kcm_kminfo
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=kolor-management
