[Desktop Entry]
Name=Profile Information
Name[nds]=Profil-Informatschonen
Name[nl]=Profielinformatie
Name[pt]=Informação do Perfil
Name[pt_BR]=Informação do perfil
Name[sv]=Profilinformation
Name[uk]=Дані профілю
Name[x-test]=xxProfile Informationxx
Comment=Display ICC-specific Profile Information
Comment[nds]=ICC-afhangen Profil-Informatschonen wiesen
Comment[nl]=Toon ICC-specifieke profielinformatie
Comment[pt]=Mostrar a informação específica do perfil de ICC
Comment[pt_BR]=Mostrar a informação específica do perfil de ICC
Comment[sv]=Visa ICC-specifik profilinformation
Comment[uk]=Показати дані профілю, характерні для ICC
Comment[x-test]=xxDisplay ICC-specific Profile Informationxx
Exec=kminfo
Icon=help-about
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-FactoryName=kminfoFactory
X-KDE-Library=kminfo
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=kolor-management
