[Desktop Entry]
Name=Profile Information
Name[el]=Πληροφορίες προφίλ
Name[fr]=Information sur le profil
Name[gl]=Información do perfil
Name[pt]=Informação do Perfil
Name[pt_BR]=Informação do Perfil
Name[sv]=Profilinformation
Name[uk]=Відомості профілю
Name[x-test]=xxProfile Informationxx
Comment= Display ICC-specific Profile Information
Comment[el]=Εμφάνιση πληροφοριών προφίλ ICC
Comment[fr]=Afficher les informations sur le profil spécifique ICC
Comment[gl]= Mostra información do perfil específica de ICC
Comment[pt]= Mostrar a informação específica do perfil de ICC
Comment[pt_BR]= Mostrar a informação específica do perfil de ICC
Comment[sv]=Visa ICC-specifik profilinformation
Comment[uk]=Показати відомості профілю, характерні для ICC
Comment[x-test]=xx Display ICC-specific Profile Informationxx
Exec=kminfo
Icon=help-about
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-FactoryName=kminfoFactory
X-KDE-Library=kminfo
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=kolor-management
